{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Food Name</th>
                <th class="text-start">Action</th>
                <th class="text-end">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for history in histories %}
            <tr>
                <td class="text-start">{{ history["food"] }}</td>
                <td class="text-start">{{ history["type"] }}</td>
                <td class="text-end">{{ history["time"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
